<!DOCTYPE html>
<html>
  <head>
    <title>Delete</title>
  </head>
  <body>
    <h1>Contact Deleted</h1>
      <form action="/">
        <button type="submit">Home</button>
      </form>
  </body>
</html>
