<!DOCTYPE html>
<html>
  <head>
    <title>New Contact</title>
  </head>
  <body>
    <h1>Contact Created</h1>
      <form action="/">
        <button type="submit">Home</button>
      </form>

    <div>
      <p>{{ new_contact.getName }}</p>
      <p>{{ new_contact.getNumber }}</p>
      <p>{{ new_contact.getAddress }}</p>
    </div>
  </body>
</html>
